.item-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 80px;
  background-color: transparent;
  border-style: solid;
  border-color: #9ba9eb;
  border-width: 1px;
  border-radius: 2px;
  padding: 10px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.initial {
  font-size: 16px;
  color: white;
  background-color: green;
  width: 35px;
  border-radius: 25px;
  text-align: center;
  padding: 8px;
  margin-right: 10px;
}

.list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #f8fafc;
  height: 100%;
}

.website {
  font-size: 12px;
  margin: 2px;
}

.stars-image {
  width: 80px;
  height: 10px;
  margin-top: 8px;
  margin-left: 2px;
}

.del-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-style: none;
  outline: none;
  margin-left: auto;
}

.del-image {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .sub-div1 {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  .sub-div1-image1 {
    display: none;
  }
  .sub-div1-image2 {
    display: block;
    width: 300px;
    height: 200px;
    margin-bottom: 18px;
  }
  .sub-div2 {
    min-height: 50vh;
  }
  .result-container {
    justify-content: center;
  }
}
